@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

html, body{
  margin: 0;
}

/*body {
  background-color: #FDF3E7;
  color: #3B3738;
}*/

.center-block {  
  margin-right: auto;  
  margin-left: auto;  
}

.hr { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0.5px 0 0 0; 
  border-radius: 20px; 
} 
.hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 0.5px 0; 
  border-radius: 20px; 
}

footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
}